---
import Layout from "../../layouts/Layout.astro";
import { filteredMedia } from "../../util/filteredMedia";
import { getResponsiveSource } from "../../util/getResponsiveSource";

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const graz = getResponsiveSource(
  "Graz",
  false,
  filteredMedia("/media/graz.jpg"),
  "Graz",
);
const innsbruck = getResponsiveSource(
  "Innsbruck",
  false,
  filteredMedia("/media/innsbruck.jpg"),
  "Innsbruck",
);
---

<Layout title="naschi.at – Vermietung">
  <div class="main">
    <h1 style="text-align: center">Vermietung</h1>
    <!-- <div id="item">
      <a href="/vermietung/graz">
        <picture>
          <source
            sizes={graz.sizes}
            srcset={graz.srcsetWebp}
            type="image/webp"
          />
          <source srcset={graz.srcset} type="image/jpeg" />
          <img src={graz.src} height="100%" width="100%" title={graz.title} />
        </picture>
      </a>
      <a href="/vermietung/graz">Graz – am Anton-Lippe-Platz 3</a>
    </div> -->
    <div id="item">
      <a href="/vermietung/innsbruck">
        <picture>
          <source
            sizes={innsbruck.sizes}
            srcset={innsbruck.srcsetWebp}
            type="image/webp"
          />
          <source
            sizes={innsbruck.sizes}
            srcset={innsbruck.srcset}
            type="image/jpeg"
          />
          <img
            src={innsbruck.src}
            height="100%"
            width="100%"
            title={innsbruck.title}
          />
        </picture>
      </a>
      <a href="/vermietung/innsbruck">Innsbruck – Peter-Mayr-Straße 29</a>
    </div>
  </div>
</Layout>

<style>
  #wrapper {
    padding-top: 100px;
    display: flex;
    margin: auto;
    text-align: center;
  }
  #item {
    padding: 30px;
    margin: auto;
    text-align: center;
    max-width: 100vh;
  }
</style>
