---
import Layout from "../../layouts/Layout.astro";
import LeafletMapInnsbruck from "../../components/LeafletMapInnsbruck.astro";
import ImageGallery from "../../components/ImageGallery.vue";
import { formatDate } from "../../util/formatDate";

const gallery = [
  {
    fileNameSrc: "/media/innsbruck/1_grundriss.jpg",
    alt: "Grundrissplan von der Wohnung",
    title: "Grundrissplan von der Wohnung",
  },
  {
    fileNameSrc: "/media/innsbruck/2_wohnen.jpg",
    alt: "Wohnzimmer von Eingangsbereich fotografiert",
    title: "Wohnzimmer",
  },
  {
    fileNameSrc: "/media/innsbruck/3_kueche.jpg",
    alt: "Einbauküche von rechts fotografiert",
    title: "Einbauküche",
  },
  {
    fileNameSrc: "/media/innsbruck/3_kueche_2.jpg",
    alt: "Einbauküche von links fotografiert",
    title: "Einbauküche",
  },
  {
    fileNameSrc: "/media/innsbruck/4_abstellraum.jpg",
    alt: "Abstellraum von Eingansbereich fotografiert",
    title: "Abstellraum",
  },
  {
    fileNameSrc: "/media/innsbruck/5_balkon.jpg",
    alt: "Balkon Blickrichung Norden",
    title: "Balkon",
  },
];
const _builTime = new Date(import.meta.env.VITE_APP_BUILDTIME);
const builTime = formatDate(_builTime);

const betriebskosten = "250,00";
const mietzins = "1300,00";
const ueberweisungsbetrag = "1550,00";
const kaution = "4650,00";
const verfuegbar = "2025-08-01";
---

<Layout title="naschi.at – Vermietung Innsbruck">
  <h1>
    3 Zimmer Wohnung mit 88 m² in der Peter-Mayr-Straße 29 in Innsbruck zu
    vermieten
  </h1>

  <h2 class="no-print">Objektbeschreibung</h2>
  <p>
    Im Herzen von Wilten, in der Peter-Mayr-Straße 29, befindet sich diese <strong
      >87,65 m² große Wohnung</strong
    >, die durch ihre ruhige, aber zentrale Lage und hochwertige Ausstattung
    besticht. Die Generalsanierung und <strong
      >fortlaufende Modernisierungen sorgen für zeitgemäßen Wohnkomfort</strong
    >. Die <strong>neuwertige Einbauküche</strong> mit modernen Geräten lädt zum
    Kochen ein, während das Badezimmer mit Dusche und Fenster überzeugt. Das zum
    Innenhof ausgerichtete Schlafzimmer garantiert ruhige Nächte. Ein Abstellraum
    mit Waschmaschinenanschluss und Gasetagenheizung bietet zusätzlichen Stauraum.
    Des Weiteren befindet sich im Zimmer ein großer fix eingebauter Pax Schrank mit
    rund 400 cm Länge.
  </p>

  <p>
    Die Gebäude mit 6 Wohneinheiten wurde im 1947 wiederaufgebau und <strong
      >2008 wurde die Wohnung generalsaniert</strong
    >. Im Gebäude gibt es einen Aufzug und zur Wohnung ist ein Kellerabteil mit
    2,21 m² zugeordnet.
  </p>

  <p class="no-print">
    Die Peter-Mayr-Straße ist eine begehrte Wohnlage in Innsbruck. Die Wohnung
    befindet sich in unmittelbarer Nähe zur Landesklinik Tirol, der UNI
    Innsbruck und der Innenstadt und bietet eine hervorragende Infrastruktur.
    Einkaufsmöglichkeiten, Restaurants, Cafés, kulturelle Einrichtungen und
    öffentliche Verkehrsmittel sind bequem zu Fuß erreichbar. Die Nähe zum Inn
    und zu den umliegenden Parks bietet zahlreiche Möglichkeiten zur
    Freizeitgestaltung.
  </p>

  <h3 class="no-print">Kostenaufstellung</h3>
  <p>
    Die <strong>Mietzins</strong> für die Wohnung beträgt <strong
      >EUR {mietzins} (inkl. MWST) pro Monat
    </strong>. Die
    <strong>Betriebskosten</strong> belaufen sich bei <strong
      >rund EUR {betriebskosten} (inkl. MWST) pro Monat
    </strong> und sind als Akontozahlung zu bezahlen. Die tatsächlichen Betriebskosten
    werden auf Basis der Jahresbrechung berechnet. Die Betriebskosten sind exklusive
    Strom, Warmwasser und Heizkosten. <strong
      >Es ergibt sich somit ein Überweisungsbetrag von EUR {ueberweisungsbetrag}
      (inkl. MWST) pro Monat.
    </strong>Die Kaution für die Wohnung beträgt EUR {kaution}.
  </p>

  <p>
    <srong
      >Die Wohnung ist ab {verfuegbar} bezugsfertig und freut sich auf neue Mieter.</srong
    >
  </p>

  <div class="basic-map-gallery-container no-print">
    <div class="basic-map-gallery">
      <h2>Bildergalerie</h2>
      <ImageGallery client:idle gallery={gallery} />
    </div>
    <div class="basic-map-gallery">
      <h2>Objektstandort</h2>
      <LeafletMapInnsbruck />
    </div>
  </div>

  <div class="grid-container no-print">
    <div class="grid-item">
      <h2>Objektinformationen</h2>
      <table>
        <tr>
          <td>Straße</td>
          <td>Peter-Mayr-Straße 29</td>
        </tr>
        <tr>
          <td>PLZ</td>
          <td>A-6020 Innsbruck</td>
        </tr>
        <tr>
          <td>Wohnfläche</td>
          <td>87,65 m²</td>
        </tr>
        <tr>
          <td>Balkon</td>
          <td>4,20 m²</td>
        </tr>
        <tr>
          <td>Bautyp</td>
          <td>1947 Wiederaufbau</td>
        </tr>
        <tr>
          <td>Zustand</td>
          <td>2008 Generalsaniert</td>
        </tr>
        <tr>
          <td>Bad</td>
          <td>2019 renoviert</td>
        </tr>
        <tr>
          <td>Einbauküche</td>
          <td>2023 Küche und Geräte neu eingebaut</td>
        </tr>
        <tr>
          <td>Raumhöhe</td>
          <td>2,85 m</td>
        </tr>
        <tr>
          <td>Schlafzimmer</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Stockwerk</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Fahrstuhl</td>
          <td>✔️</td>
        </tr>
        <tr>
          <td>Einbauküche</td>
          <td>✔️</td>
        </tr>
        <tr>
          <td>verfügbar ab</td>
          <td>{verfuegbar}</td>
        </tr>
      </table>
    </div>
    <div class="grid-item">
      <h2>Raumaufteilung</h2>
      <table>
        <tr>
          <td>Wohnen</td>
          <td>24,71 m²</td>
        </tr>
        <tr>
          <td>Küche</td>
          <td>10,10 m²</td>
        </tr>
        <tr>
          <td>Bad/WC</td>
          <td>5,53 m²</td>
        </tr>
        <tr>
          <td>Zimmer</td>
          <td>18,15 m²</td>
        </tr>
        <tr>
          <td>Schlafen</td>
          <td>15,40 m²</td>
        </tr>
        <tr>
          <td>Abstellraum</td>
          <td>4,23 m²</td>
        </tr>
        <tr>
          <td>Balkon</td>
          <td>4,20 m²</td>
        </tr>
        <tr>
          <td>Kellerabteil</td>
          <td>2,21 m²</td>
        </tr>
      </table>
    </div>
    <div class="grid-item">
      <h2>Energieausweis/Heizung</h2>
      <table>
        <tr>
          <td>HWB (kWh/m²/Jahr)</td>
          <td>103,59</td>
        </tr>
        <tr>
          <td>HWB Energieklasse</td>
          <td>D</td>
        </tr>
        <tr>
          <td>Heizung / Warmwasser</td>
          <td>Etagenheizung</td>
        </tr>
        <tr>
          <td>Brennstoff</td>
          <td>Gas</td>
        </tr>
      </table>
    </div>
    <div class="grid-item">
      <h2>Lage</h2>
      <ul>
        <li>
          Trotz der zentralen Lage in Innsbruck ist die Wohnung bemerkenswert
          ruhig.
        </li>
        <li>
          Die Wohnung punktet mit ihrer optimalen Lage in unmittelbarer Nähe zur
          Landesklinik Tirol, der Universität Innsbruck und der belebten
          Innenstadt.
        </li>
        <li>
          Perfekter Anschluss an den öffentlichen Verkehr und an den Radweg.
          Geschäfte des täglichen Bedarfs befinden sich in unmittelbarer Nähe.
        </li>
      </ul>
    </div>
    <div class="grid-item">
      <h2>Ausstattung</h2>
      <ul>
        <li>Birken Parkett im Wohnzimmer und in den beiden Schlafzimmer</li>
        <li>Fließenboden im Bad, Vorraum und der Küche</li>
        <li>Anschlus für Internet und Kabel TV</li>
        <li>
          Einbauküche (Einbaudatum 2023) Geschirrspüler Herd, Kochfeld,
          Kühlschrank
        </li>
        <li>Großer Paxschrank im Zimmer mit 400 cm Länge</li>
      </ul>
    </div>
    <div class="grid-item">
      <h2>Dokumente</h2>
      <ul>
        <li>
          <a href="/vermietung/selbstauskunft.pdf" target="_blank"
            >Selbstauskunft
          </a>
        </li>
        <li>
          <a href="/vermietung/dsgvo-datenverarbeitung.pdf" target="_blank"
            >DSGVO Erklärung
          </a>
        </li>
        <li>
          <a href="/vermietung/expose-innsbruck.pdf" target="_blank">Expose</a>
        </li>
      </ul>
    </div>
    <div class="grid-item">
      <h2>Kostenaufstellung</h2>
      <ul>
        <li>Mietzins EUR {mietzins} (inkl. MWST) pro Monat</li>
        <li>
          Betriebskosten Akontozahlung EUR {betriebskosten} (inkl. MWST) pro Monat
        </li>
        <li>Kaution EUR {kaution}</li>
      </ul>
    </div>
  </div>

  <div class="grid-container no-screen">
    <div class="grid-item">
      <center
        ><img src="/media/innsbruck/2_wohnen_768.jpg" width="92%" />
      </center>
    </div>
    <div class="grid-item">
      <center
        ><img src="/media/innsbruck/3_kueche_768.jpg" width="92%" /></center
      >
    </div>
    <div class="grid-item">
      <cetner
        ><img
          src="/media/innsbruck/1_grundriss_thumbnail_768.jpg"
          width="92%"
        />
      </cetner>
    </div>
    <div class="grid-item">
      <strong>Peter-Mayr-Straße 29, A-6020 Innsbruck</strong><br />
      2,5 Zimmer Wohnung im 2 Stock<br />
      <strong>Wohnfläche:</strong> 87,65 m²<br />
      <strong>Balkon:</strong> 4,20 m²<br />
      <strong>Raumhöhe:</strong> 2,85 m<br />
      <strong>Fahrstuhl:</strong> Ja<br />
      <strong>Einbauküche inkl. Geräte:</strong> Ja<br />
      <strong>Pax Einbauschrank</strong> im Zimmer<br />
      <strong>Zentralheizung / Warmwasser:</strong> Fernwärme<br />
      <strong>Mietzins:</strong> EUR {mietzins} (inkl. MWST)<br />
      <strong>Betriebskosten:</strong> EUR {betriebskosten} (inkl. MWST, exkl. Warmwasser-
      und Heizkosten)<br />
      <br />
      <strong>Die Wohnung ist ab {verfuegbar} verfügbar.</strong><br />
      <strong>Daniel Naschberger</strong><br />
      <a href="tel:004369910030004">+43 699 10030004</a><br />
      <a href="mailto:daniel@naschi.at">daniel@naschi.at</a><br />
      <a href="https://naschi.at/vermietung/innsbruck"
        >https://naschi.at/vermietung/innsbruck</a
      ><br />
    </div>
  </div>
  <div class="version no-screen">Version {builTime}</div>
</Layout>
